body, html {
  background: #2c2f33 url(https://discordapp.com/assets/530280c4e76a27a6dd43c0ecabb96e7d.png) fixed;/* background-color: #6379CA; */
}

input, label {
  display: block;
}

textarea {
  resize: none;
  outline: 0;
}

input[type="text"], input[type="url"], textarea {
  padding: 4px 8px;
  /*display: inline-block;*/
  background: none;/*hsla(0,0%,100%,.06);*/
  -webkit-transition: border-bottom .2s ease;
  transition: border-bottom .2s ease;
  border: none;
  border-bottom: 2px solid lightgrey;
  font: 16px system-ui;
}

* {
  font-family: "Open Sans", sans-serif;
}

input[type="text"], input[type="url"], textarea {
  color: #f5f5f5;
}

h1, h2, h4 {
  color: #f5f5f5;
  font-family: "Raleway", sans-serif;
}

span.remove {
  color: red;
  cursor: pointer;
}

span.remove:hover {
  text-decoration: underline;
}

label {
  color: #9e9e9e;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
}

input[type="text"]:focus, input[type="url"]:focus, textarea:focus {
  border-bottom: 2px solid #7289da;
}

input:focus {
  outline: none;
}

.rqs { /* required star */
  color: #f04747;
  font-family: initial;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.inlblock {
  display: inline-block;
}

.dbutton {
  cursor: pointer;
  margin-top: 16px;
  text-align: center;
  color: #fff;
  width: 300px;
  border: none;
  background-color: #7289da;
  padding: 10px 8px;
  border-radius: 4px;
}

#newemb {
  width: 100px;
  background-color: #26D64B;
}

#tts.act {
  width: 10px;
  height: 10px;
  background-color: green;
}
/* start:slider */
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 22px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* end:slider */

#tts.dis {
  width: 10px;
  height: 10px;
  background-color: white;
}

.validation {
  font-size: 10px;
  color: #ff0000;
}
